<div class="container-spinner center-flex" [ngClass]="cardContent ? 'card' : 'page'">
  <div class="rating-container" [ngClass]="cardContent ? 'card' : 'page'">
    <div class="outer-circle" [ngClass]="cardContent ? 'card' : 'page'">
      <div class="inner-circle" [ngClass]="cardContent ? 'card' : 'page'">
        <b [ngClass]="cardContent ? 'card' : 'page'">{{rating}}</b>
      </div>
    </div>
  </div>
  <mat-progress-spinner [value]="rating * 10"
    [diameter]="cardContent ? 60 : 120" [strokeWidth]="cardContent ? 5 : 10" color="{{cardContent ? 'primary' : 'accent'}}">
  </mat-progress-spinner>
</div>