@import '../../../global-variables.scss';

.container-spinner {
    justify-content: center;
    &.page {
        width: 150px;
        height: 150px;
        margin: 1rem 2rem;
    }
    &.card {
        width: 75px;
        height: 75px;
    }
}
.rating-container {
    position: absolute;
    display: inherit;
    align-items: inherit;
    justify-content: center;
    &.page {
        height: 140px;
        width: 140px;
    }
    &.card {
        height: 70px;
        width: 70px;
    }
    b {
        &.page {
            color: $mat-accent-color;
            font-size: 3rem;
            letter-spacing: -.25rem;
        }
        &.card {
            color: $mat-primary-color;
            font-size: 1.5rem;
            letter-spacing: -.125rem;
        }
    }
}
.outer-circle {
    width: inherit;
    height: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    border-radius: 50%;
    &.page {
        background-color: $mat-primary-color;
        border: 7px solid;
        max-height: 125px;
        box-shadow: -.5rem 0 1rem rgba(0, 0, 0, 0.5);
    }
    &.card {
        background-color: $mat-warn-color;
        border: 3.5px solid;
        max-height: 62.5px;
    }
}
.inner-circle {
    background-color: rgba(255,255,255,.1);
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    border-radius: 50%;
    &.page {
        width: 85px;
        height: 84px;
        border: 5px solid rgba(255, 255, 255, 0.1);
    }
    &.card {
        width: 42.5px;
        height: 42px;
        border: 2.5px solid rgba(255, 255, 255, 0.1);
    }
}